/* My WEB120 Portal Website Styles */

/* START GLOBAL RULES: Apply to all screen sizes */
* {
    /*border: 1px solid red;*/
}
html {
    background-color:#fff;
}
div.wrapper {
    background-color: #fff;
    overflow:hidden;
    width: 100%;
}
.pageID {
    color:#000;
}
h1 {
    text-align: center;
}
p {
    margin-left:1em;
}
h2, h3 {
    margin-left:.5em;
}
h2 {
    font-size: 1.2em;
    font-weight: 700;
}
.solo img {
    display: block;
}

/* NAVIGATION AND LOGO */

#logo {
    width: 100%;
    clear: both;
    margin: auto;
}
h1>a {
    text-decoration: none;
    color:#000;
    text-align: center;
    font-family: 'Cinzel', serif;
}

/* INDEX PAGE FORMATTING */

#index-img {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    overflow-y:hidden;
    padding-bottom: 0;
}
.index-container {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
}
.top-right {
    position: absolute;
    top: 1em;
    right: 1em;
    font-family: 'Cinzel', serif;
    font-weight: 900;
    font-size: 6em;
}

/* Embed Responsively Rules! */
div.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: auto;
    max-width: 98%;
} 

div.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Gallery */

#gallery {
    width: 100%;
    margin-top: 0;
    margin-right: 10%;
    margin-bottom: 0;
    margin-left: 10%;
    
}

/* TWO COLUMN LAYOUT */

section {
		width:50%;
	    float: left;
	}
aside {	
		width:49%;
        float: right;
        
}
main {
    padding-left: 10%;
}
.contact-text {
    font-size: 1.2em;
    text-align: center;
    width: 100%;
}

/* FOOTER */ 
footer {
	clear:both;
    text-align:center;
}
footer {
    display: inline-block;
    background-color: lightblue;
    color: #fff;
    width: 100%;
    height: 12%;
    padding: 2em 0em 2em 0em;
    font-size: 1em;
    display: block;
    width: 100%;
    text-align:center;
    color: #fff;
    margin: 0;
    clear:both;
}
footer a {
    color: #fff;
    font-size: 1em;
}

/* END GLOBAL RULES */


/* START RESPONSIVE STYLES */

/* DESKTOP: Apply these rules when above 1400px resolution
@media all and (min-width:1001px) {
	

    /* LEFT COLUMN 
      #gallery {
        width:100%;
    }
			
	/* SHOW Desktop Image 
   
    
    /* HIDE Tablet and Phone Images 
    img.tablet, img.phone {
        display:none;
    }  
}


/* Tablet: Aply these rules between 737px and 1399px
@media all and (min-width:820px) {
	
	section {
		width:60%;
		float:left;
	}
	
	aside {	
		width:39%;
		float:right;
	}
	
    img.tablet {
       width:100%;
    }
    
    img.phone, img.desktop {
        display:none;
    } 
    
} */


/* PHONE: Apply these rules when below 782px resolution */
@media all and (max-width:999px) {

    body {
    width: 100%;
    margin: 0 auto;
    }
    
    div.wrapper {
		width:100%;
		margin: 0 auto;
	}
    
    section {
        width: 100%;
        clear: both;
        margin: auto;
    }
	
	aside {	
        width: 100%;
        clear: both;
        margin: auto;
        margin-top: 1em;
        
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #gallery {
        width:100%;
        float: left;
        clear: both;
        padding: 0 1em 0 1em;
        margin-top: 1em;
    }
}

/* END RESPONSIVE STYLES */